
*.ide
TevenStudiosBudgetTracker/.vs/TevenStudiosBudgetTracker/v15/.suo
*.ide
TevenStudiosBudgetTracker/.vs/TevenStudiosBudgetTracker/v15/.suo
*.ide
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/obj/TevenStudiosBudgetTracker.csproj.nuget.g.props
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/obj/TevenStudiosBudgetTracker.csproj.nuget.g.props
