
*.ide
TevenStudiosBudgetTracker/.vs/TevenStudiosBudgetTracker/v15/.suo
*.ide
TevenStudiosBudgetTracker/.vs/TevenStudiosBudgetTracker/v15/.suo
*.ide
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/obj/TevenStudiosBudgetTracker.csproj.nuget.g.props
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/obj/TevenStudiosBudgetTracker.csproj.nuget.g.props
TevenStudiosBudgetTracker/.vs/TevenStudiosBudgetTracker/v15/sqlite3/storage.ide
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/obj/Debug/netcoreapp1.1/TevenStudiosBudgetTracker.csproj.CoreCompileInputs.cache
*.json
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/TevenStudiosBudgetTracker.csproj.user
TevenStudiosBudgetTracker/TevenStudiosBudgetTracker/wwwroot/lib/*