﻿@model dynamic  

@{
    ViewData["Title"] = "Employee Page";
}

<h2> Current Balance</h2>
<h2> $@Model.Budget </h2>

<h2> Pending Requests</h2>
<table class="table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Cost
		</th>
		<th>
			Description
		</th>
	</tr>

	@foreach (var pendingRequest in Model.PendingRequests)
    {
		<tr>
			<td>
				@pendingRequest.Date
			</td>
			<td>
				@pendingRequest.Cost
			</td>
			<td>
				@pendingRequest.Description
			</td>
		</tr>
	}
</table>
