﻿@model IEnumerable<TevenStudiosBudgetTracker.Models.PendingRequest>

@{
    ViewData["Title"] = "Employee Page";
}

<!--<h2> Transactions</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            UserId
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th>
            StatusId
        </th>
    </tr>

    foreach (var item in Model)
    {
        <tr>
            <td>
                Html.DisplayTextFor(modelItem => item.ID)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                Html.DisplayTextFor(modelItem => item.Amount)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.StatusId)
            </td>
        </tr>
    }-->


<h2> Pending Requests</h2>
<table class="table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Cost
		</th>
		<th>
			Description
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayTextFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Cost)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
		</tr>
	}
</table>
