﻿@model dynamic  

@{
    ViewData["Title"] = "Employee Page";
}

<h2> Current Balance</h2>
<h2> $@Model.Budget </h2>

<h2> Pending Requests</h2>
<table class="table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Cost
		</th>
		<th>
			Description
		</th>
	</tr>

	@foreach (var pendingRequest in Model.PendingRequests)
    {
		<tr>
			<td>
				@pendingRequest.Date
			</td>
			<td>
				@pendingRequest.Cost
			</td>
			<td>
				@pendingRequest.Description
			</td>
		</tr>
	}
</table>


<div class="container">

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg right-float-button" data-toggle="modal" data-target="#submitRequest">Submit Request</button>

    <!-- Modal -->
    <div class="modal fade" id="submitRequest" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Submit a new Request</h4>
                </div>
                <form asp-controller="Home" asp-action="GetDetails" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="name">Amount ($):</label>
                            <input required type="number" class="form-control" id="requestCost" name="requestCost" value="0" min="0" max="3000">
                        </div>

                        <div class="form-group">
                            <label for="name">Description</label>
                            <textarea required type="text" class="form-control" id="description" name="description"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-default">
                    </div>
                </form>
            </div>

        </div>
    </div>

    @if (ViewBag.Result != null)
    {
        <h4>@ViewBag.Result</h4>
    }
</div>
