@{
    ViewData["Title"] = "Login Page";
}

<h2> Login</h2>

<div class="container">
    E-mail:
    <input type="email" name="email"><br>
    <button type="button" class="btn btn-info btn-lg right-float-button">Login</button>
</div>
