<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="636051315170-4svott714ete1jl8f8vtou7hrf484rdf.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

@{
    ViewData["Title"] = "Login Page";
}

<h2> Login</h2>

<div class="container">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <h3 id="erorr-signin"></h3>
    <script type="text/javascript">

        window.onbeforeunload = function (e) {
            gapi.auth2.getAuthInstance().signOut();
        };

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            $.ajax({
                url: '/Index/GoogleLogin',
                data: { 'UserEmail': profile.getEmail() },
                success: function (data) {
                    if (data.success) {
                        window.location.href = data.redirect + "/Index";
                    }
                    else
                    { 
                        document.getElementById("erorr-signin").innerHTML = data.message;
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            console.log('User signed out.');
                        });
                    }
                },
                error: function (data) {
                    //document.getElementById("erorr-signin").innerHTML = data.message;
                }
            })
        }
    </script>
</div>

