
@{
    ViewData["Title"] = "Admin Page";
}
@*<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>*@

<div>
    <h1>Staff </h1>

    <div>
        <div >
            <table class="table table-hover table-bordered" data-toggle="table">
                <thead>
                    <br>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="email">Email</th>
                        <th data-field="role">Role</th>
                        <th data-field="manager">Manager</th>
                        <th data-field="action">Action</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

</div>