@{
    ViewData["Title"] = "Error";
}

<!-- Code modified from: https://github.com/alexphelps/server-error-pages -->

<!-- Error Message Displayed -->
<div class="container error-page">
    <div class="alert alert-danger error-page">
        <h1 class="large-text">Error</h1>
        <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Sorry! An error occurred while processing your request.</p>
        <p>
            <a onclick=javascript:checkSite(); class="btn btn-default btn-lg green">Take Me To The Homepage</a>
        </p>
    </div>
</div>

<!-- Script to send the user back to the home page -->
<script type="text/javascript">
                function checkSite() {
                    var currentSite = window.location.href;
                    window.location = "http://localhost:50456/Home/";
                }
</script>